@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .space-x {
    @apply px-4 md:px-8;
  }
}


@font-face {
  font-family: 'Poppins-Light';
  src: url('../public/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../public/fonts/poppins/Poppins-SemiBold.ttf');
}